:host {
  display: block;
}

.card {
    background-color: #e0e0e0;
    border: 1px solid #999;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.info {
    margin-top: 15px;
    text-align: left;
}

.info p {
    margin: 0;
    line-height: 1.8;
}