@if (auth.isLoggedIn()) {
  <nav class="navbar">
    <div class="nav-links">
      <a routerLink="festival" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Festivals</a>
      <a routerLink="editeurs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Editeurs</a>
      <a routerLink="jeux" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Jeux</a>

      @if (auth.isAdmin()) {
        <a routerLink="admin/users" routerLinkActive="active" class="admin-link">
          Admin
        </a>
      }
    </div>

    <div class="user-controls">
      <span>{{ auth.currentUser()?.login }}</span>
      <button (click)="logout()" class="btn-logout">Déconnexion</button>
    </div>
  </nav>
}

<router-outlet></router-outlet>