.reservation-card {
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.zone-details ul {
  padding-left: 20px;
  margin-top: 10px;
}

.zone-details li {
  margin-bottom: 5px;
}
