<div class="page-header">
  <div class="title-group">
    <h1>Gestion des Festivals</h1>
    @if (!showForm) {
      <span class="badge-count">Total : {{ nbFestival() }}</span>
    }
  </div>

  @if (auth.currentUser()?.role === 'admin') {
    
    @if (!showForm) {
      <button class="btn-action" (click)="add()">
        + Ajouter un festival
      </button>
    } 
    
    @else {
      <button class="btn-action cancel" (click)="cancel()">
        Annuler
      </button>
    }

  }
</div>

@if (showForm) {
  <div class="form-wrapper">
    <app-festival-form 
      [festivalAEditer]="festivalEnEdition()"
      (add)="onAdd($event)"
      (update)="onUpdate($event)">
    </app-festival-form>
  </div>
} 

@else {
  @if (festivals().length > 0) {
    <div class="festival-grid">
      @for (f of festivals(); track f.id) {
        <app-festival-component 
            [festival]="f"
            [canEdit]="auth.currentUser()?.role === 'admin'"
            (edit)="onEdit($event)"
            (click)="openWorkspace(f.id!)">
        </app-festival-component>
      }
    </div>
  } @else {
    <div class="empty-state">
      <p>Aucun festival disponible pour le moment.</p>
    </div>
  }
}