<h1>Gestion des Festivals</h1>

<h4>Nombre de festivals: {{ this.nbFestival() }}</h4>

@if (showForm) {
  <app-festival-form (add)="onAdd($event)"></app-festival-form>
  <button (click)="showForm = false">Cancel</button>
}
@else{
  <button (click)="add()">Add Festival</button>
}

@if (festivals().length > 0) {
  <button (click)="removeAll()">Delete All</button>
}

<div class="festival-list-container">
  @for (festival of festivals(); track festival.id!) {
    <app-festival-component
      [festival] = "festival"
      (remove)="onRemove($event)">
    </app-festival-component>
  }
<div>

@if (festivals().length === 0 && !showForm) {
  <div class="no-festivals">
    <p>Aucun festival enregistré. Cliquez sur "Ajouter un Festival" pour commencer.</p>
  </div>
}