<form [formGroup]="form">
    <h2>{{ contactAEditer() ? 'Modifier le contact' : 'Ajouter un contact' }}</h2>

    <input type="text" formControlName="nom" placeholder="Nom du contact" />
    @if (form.controls.nom.invalid && submitted) {
        <div class="error">{{ getErrorMessage(form.controls.nom) }}</div>
    }

    <input type="text" formControlName="prenom" placeholder="Prénom du contact" />
    @if (form.controls.prenom.invalid && submitted) {
        <div class="error">{{ getErrorMessage(form.controls.prenom) }}</div>
    }

    <input type="text" formControlName="fonction" placeholder="Fonction (optionnel)" />

    <input type="email" formControlName="email" placeholder="Email du contact" />
    @if (form.controls.email.invalid && submitted) {
        <div class="error">{{ getErrorMessage(form.controls.email) }}</div>
    }

    <button type="button" (click)="onSubmit()">{{ contactAEditer() ? 'Modifier' : 'Ajouter contact' }}</button>
</form>