<form [formGroup]="form">
    <input type="text" formControlName="nom" placeholder="Nom du contact" />
    @if (form.controls.nom.invalid && submitted) {
        <div class="error">{{ getErrorMessage(form.controls.nom) }}</div>
    }

    <input type="text" formControlName="prenom" placeholder="Prénom du contact" />
    @if (form.controls.prenom.invalid && submitted) {
        <div class="error">{{ getErrorMessage(form.controls.prenom) }}</div>
    }

    <input type="text" formControlName="fonction" placeholder="Fonction du contact" />
    @if (form.controls.fonction.invalid && submitted) {
        <div class="error">{{ getErrorMessage(form.controls.fonction) }}</div>
    }

    <input type="text" formControlName="email" placeholder="Email du contact" />

    <button type="button" (click)="onSubmit()">Ajouter contact</button>
</form>