<div class="form-container">
  <h2>Nouvelle réservation</h2>

  <form [formGroup]="form">

    <!-- TYPE -->
    <label>Type de réservant</label>
    <select formControlName="type">
      <option value="Editeur">Éditeur</option>
      <option value="Boutique">Boutique</option>
      <option value="Association">Association</option>
      <option value="Prestataire">Prestataire</option>
      <option value="Autre">Autre</option>
    </select>

    @if (isEditeur()) {
      <label>Éditeur</label>
      <select formControlName="editeur_id">
        @for (e of editeurs(); track e.id) {
          <option [value]="e.id">{{ e.nom }}</option>
        }
      </select>

      <label>
        <input type="checkbox" formControlName="est_present">
        Présent physiquement au festival
      </label>
    }

    @if (!isEditeur()) {
      <label>Nom du réservant</label>
      <input type="text" formControlName="autre_nom_reservant">
    }

    <label>Nombre de prises</label>
    <input type="number" formControlName="nombre_prises">

    <h3>Lignes tarifaires</h3>

    <button type="button" (click)="addLigne()">Ajouter une ligne</button>

    @for (l of lignes(); track $index) {
      <div class="ligne">

        <select (change)="updateLigne($index, +$any($event.target).value, l.quantite)">
          <option value="0">Sélectionner une zone</option>
          @for (z of zones(); track z.id) {
            <option [value]="z.id">{{ z.nom }} ({{ getTablesLibresRestantes(z.id) }} libres)</option>
          }
        </select>

        <input type="number"
               [value]="l.quantite"
               [max]="getTablesLibresRestantes(l.zone_tarifaire_id)"
               min="0"
               (input)="updateLigne($index, l.zone_tarifaire_id, +$any($event.target).value)">

        <button type="button" (click)="removeLigne($index)">X</button>
      </div>
    }

    <p><strong>Total tables :</strong> {{ totalTables() }}</p>
    <p><strong>Montant des tables :</strong> {{ totalPrixTables() }} €</p>
    <p><strong>Montant de la réservation avant remise :</strong> {{ totalPrixBeforeRed() }} €</p>

    @if (isEditeur()){
      <label>Remise générale (€)</label>
      <input type="number" formControlName="remise_generale">

      <p><strong>Montant de la réservation après remise :</strong> {{ totalPrixAfterRed() }} €</p>
    }
    
    @if (!isEditeur()){
      <p><strong>Montant de la réservation après remise :</strong> 0 €</p>
    }

    <label>Commentaire - Préférence des tables</label>
      <textarea formControlName="preferences_tables"  placeholder="Entrez vos commentaires, préférences ou demandes spéciales..." rows="4">
      </textarea>


    <!-- PHASE 2 : SÉLECTION DES JEUX -->
    @if (currentPhase() === 2) {
      <h3>Phase 2 - Sélection des jeux à présenter</h3>

      @if (isEditeur()) {
        <p><strong>Jeux de l'éditeur sélectionné :</strong></p>
      } @else {
        <p><strong>Tous les jeux disponibles :</strong></p>
      }

      <button type="button" (click)="addGameLigne()">Ajouter un jeu</button>

      @for (l of lignesJeux(); track $index) {
        <div class="ligneJeu">
          <select (change)="updateGameLigne($index, +$any($event.target).value, l.nb_exemplaires, l.tables_occupees)">
            <option value="0">Sélectionner un jeu</option>
            @for (j of jeuxFiltres(); track j.id) {
              <option [value]="j.id">{{ j.nom }}</option>
            }
          </select>

          <label>Nombre d'exemplaires :</label>
          <input type="number"
                 [value]="l.nb_exemplaires"
                 min="1"
                 (input)="updateGameLigne($index, l.jeu_id, +$any($event.target).value, l.tables_occupees)">

          <label>Nombre de table(s) allouée(s): </label>
          <label><input type="radio"
                  name="tables_{{ $index }}"
                  [value]="0.5"
                  [checked]="l.tables_occupees === 0.5"
                  (change)="updateGameLigne($index, l.jeu_id, l.nb_exemplaires, 0.5)">0.5 table</label>
          
            <label><input type="radio"
                  name="tables_{{ $index }}"
                  [value]="1"
                  [checked]="l.tables_occupees === 1"
                  (change)="updateGameLigne($index, l.jeu_id, l.nb_exemplaires, 1)">1 table</label> 

          <button type="button" (click)="removeGameLigne($index)">Supprimer</button>
        </div>
      }
    }
    

    <!-- PHASE 3 : DISPOSITION -->
    @if (currentPhase() === 3) {
      <h3>Phase 3 - Disposition des jeux</h3>
      <div class="summary">
        
      </div>
    }

    <div class="actions">
      @if (currentPhase() > 1) {
        <button type="button" (click)="goToPhase(currentPhase() - 1)" class="secondary">Retour</button>
      }
      @if (currentPhase() < 3) {
        <button type="button" (click)="goToPhase(currentPhase() + 1)" class="primary">Continuer</button>
      }
      @if (currentPhase() === 3) {
        <button type="button" (click)="submit()" class="primary">Créer la réservation</button>
      }
    </div>

  </form>
</div>
