@if (festival(); as f) {
  <div class="dashboard-container">
    
    <div class="card header-card">
      <h1>{{ f.nom }}</h1>
      <p class="subtitle">
        Édition du {{ f.date_debut | date:'dd MMMM' }} au {{ f.date_fin | date:'dd MMMM yyyy' }}
      </p>
    </div>

    <div class="stats-grid">
      
      <div class="card stat-card">
        <h3>Stock Total Actuel</h3>
        <div class="stat-value-group">
          <span class="stat-number">{{ f.nbTotalTables }}</span>
          <span class="stat-unit"> tables physiques</span>
        </div>
      </div>

      <div class="card detail-card">
        <h3>Détail du stock</h3>
        <ul class="stock-list">
          <li>
            <span>Petites tables :</span>
            <span class="value">{{ f.nbTablesPetites }}</span>
          </li>
          <li>
            <span>Grandes tables :</span>
            <span class="value">{{ f.nbTablesGrandes }}</span>
          </li>
          <li>
            <span>Tables mairie :</span>
            <span class="value">{{ f.nbTablesMairie }}</span>
          </li>
        </ul>
      </div>

      <div class="card stat-card">
        <h3>Zones Tarifaires</h3>
        <div class="stat-value-group">
          <span class="stat-number">{{ f.zonesTarifaires.length }}</span>
          <span class="stat-unit"> zones configurées</span>
        </div>
      </div>

    </div>
  </div>
}