<div class="form-container">
  <h2>Ajouter un Festival</h2>
  
  <form [formGroup]="form" (ngSubmit)="onSubmitForm()">
      <input type="text" id="nom" formControlName="nom" placeholder="Nom du festival">
      <input type="date" id="date" formControlName="date">
      <input type="number" id="nbTablesPetites" formControlName="nbTablesPetites" min="0">
      <input type="number" id="nbTablesGrandes" formControlName="nbTablesGrandes" min="0">
      <input type="number" id="nbTablesMairie" formControlName="nbTablesMairie" min="0">

    <div class="zones-section">
      <h3>Zones Tarifaires</h3>
      <app-zone-tarifaire-form (add)="onAddZone($event)"></app-zone-tarifaire-form>

      @if (zonesTarifaires().length > 0){
        <h4>Zones ajoutées :</h4>
        @for (zone of zonesTarifaires(); track zone.id!){
          <div class="zones-item">
            <span>{{ zone.nom }} - {{ zone.nbTotalTables }} tables - {{ zone.prixTable }}€/table - {{ zone.prixM }}€/m²</span>
            <button type="button" (click)="onRemoveZone(zone.id!)">Supprimer</button>
          </div>
        }
      }
      @else if (zonesTarifaires().length === 0){
        <em class="empty-message">Aucune zone tarifaire ajoutée</em>
      }

    <button type="submit" [disabled]="form.invalid || zonesTarifaires().length === 0" class="btn-submit">
      Ajouter le Festival
    </button>
    </div>
  </form>
</div>
